<div class="container mt-4">

  <h2 class="text-center mb-4">{{ c.name }} in {{ c.location }}</h2>

  



 


  <hr>

  <h4 class="mt-4">Gallery</h4>
  @if(gallery.length > 0){
    <div class="d-flex flex-wrap gap-3">
      @for(g of gallery; track g){
        <img [src]="'http://localhost:8080/' + g" width="200" height="200" class="rounded shadow-sm border">&nbsp;
      }
    </div>
  }

  <hr>

  <h4>Services</h4>
  @if(services.length > 0){
    <table class="table table-striped table-bordered w-50">
      @for(s of services; track s.idS){
        <tr>
          <td>{{ s.name }}</td>
        </tr>
      }
    </table>
  }

  <hr>

  <h4>Pricelist</h4>
  @if(pricelist.length > 0){
    <table class="table table-bordered table-hover">
      <thead class="table-light">
        <tr>
          <th>Period</th>
          <th>Price per night (€)</th>
        </tr>
      </thead>
      <tbody>
        @for(p of pricelist; track p.idP){
          <tr>
            <td>{{ p.period }}</td>
            <td>{{ p.price }}</td>
          </tr>
        }
      </tbody>
    </table>
  }

  <hr>

  <h4>Contact</h4>
  <p><b>Phone number:</b> {{ c.phone }}</p>

  <hr>

  <h4>Comments</h4>
  @if(reviews.length > 0){
    <table class="table table-bordered table-striped">
      <thead class="table-light">
        <tr>
          <th>User</th>
          <th>Comment</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        @for(r of reviews; track r.idR){
          <tr>
            <td>{{ r.user }}</td>
            <td>{{ r.comment }}</td>
            <td>{{ r.rating }}</td>
          </tr>
        }
      </tbody>
    </table>
  }

  <hr>

  <h4>Map</h4>
  <div id="map" class="rounded shadow-sm border" style="height: 400px;"></div>

</div>
