html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.content {
  flex: 1; 
}

.footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}
